@import "normalize-scss/sass/normalize/import-now";
.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);

  .home {
    height: 100%;
    width: 1240px;
    margin: 0 auto;
    .buttonWrapper {
      display: flex;
      justify-content: center;
      .toggleBtn {
        height: 3rem;
        width: 10rem;
        border: 1px solid var(--border-color);
        cursor: pointer;
        background-color: var(--base-background-color);
        color: var(--text-color);
        border-radius: 2rem;
      }
    }
  }
}
