.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.6rem;
  color: var(--text-color);

  .title {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  .searchBlock {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 2rem;
    width: 22rem;
    height: 3rem;
    background: var(--base-background-color);

    .searchImg {
      margin: 0 0.8rem;
      height: 1.3rem;
      cursor: pointer;
    }

    .searchInput {
      border: none;
      background: var(--base-background-color);
      width: 100%;
      margin-right: 0.5rem;
      &:focus {
        outline: none;
      }
    }
  }
}
