.wrapper {
  height: 100%;
  display: flex;
  align-items: end;

  .rowTitles {
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 1rem;
      color: var(--second-text-color);
      font-size: 1.125rem;

      @media screen and (max-width: 1250px) {
        font-size: 1rem;
        margin-bottom: 0.9rem;
      }

      @media screen and (max-width: 810px) {
        font-size: 0.35rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 810px) {
    img {
      height: 2rem;
      width: 2rem;
      margin-bottom: 1rem;
    }
  }
}
