:root {
  --background-color: #ffffff;
  --base-background-color: #f7f7f7;
  --border-color: #49494966;
  --text-color: #000;
  --second-text-color: #c0c0c0;
  font-family: "Open Sans";
}

[data-theme="dark"] {
  --background-color: #080339;
  --base-background-color: #110d40;
  --border-color: #49494966;
  --text-color: #fff;
  --second-text-color: #c0c0c0;
}

#root {
  height: 100vh;
}
